:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size:17px;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-appearance: none;
    appearance:none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-weight: normal;
    font-style: normal;
    position: relative;
}

/* input[type="text"] {
    border-radius: 0;
    box-shadow: none;
} */

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

sup {
    font-size: 0.6em;
    vertical-align: 0.2em;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.clear {
    clear: both;
}

main {
    padding:40px 0;
    background-color: #fff;
}
section {
    background-color: #fff;
}

.content_hide_menu,
.content_hide_menu_search {
    opacity: 1;
}

.content_width {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    position:relative;
}

.content_large {
    width: calc(100% - 50px);
    margin: auto;
}

.content_full {
    width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .content_width {
        width: 85%;
    }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
    .content_width {
        width: 85%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 640px) {
    .content_width {
        width: 85%;
    }
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .content_width {
        width: calc(100% - 50px);
    }
}

/* ====================================================================================================== */
/* =fonts */
/* ====================================================================================================== */
h1 {
    font-size: 2rem;
    margin: 0;
    line-height: 1.3;
    font-weight: normal;
}
h2 {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.3;
    font-weight: normal;
}
h3 {
    font-size: 1.35rem;
    margin: 0;
    line-height: 1.35;
    font-weight: normal;
}
h4 {
    font-size: 1.2rem;
    margin: 0;
    line-height: 1.4;
    font-weight: normal;
}
h5 {
    font-size: 1.15rem;
    margin: 0;
    line-height: 1.4;
    font-weight: normal;
}
h6 {
    font-size: 1.1rem;
    margin: 0;
    line-height: 1.4;
    font-weight: normal;
}
ul {
    font-size: 1rem;
    margin: 0;
    padding-left: 0;
    line-height: 1.7;
}
li {
    list-style: none;
    position: relative;
}
li strong {
    font-weight:700;
}
p {
    font-size: 1rem;
    margin: 0;
    line-height: 1.7;
}
p strong {
    font-weight:700;
}
p.legende,
ul.legende {
    font-size: 0.8rem;
    margin: 0;
    line-height: 1.4;
}





.mantine-Input-input, 
.mantine-TextInput-input{
    border-color:#e1dddf;
}



.rdt_Pagination{
    border-top:2px solid #e1dddf!important;
    color:#685a60!important;
}
.rdt_TableHeadRow{
    color:#3c37ff!important;
    font-weight:700!important;
    border-bottom:2px solid #e1dddf!important;
}
.rdt_TableRow{
    border-bottom:1px solid #e1dddf!important;
    color:#302b2d!important;
}
#pagination-first-page,
#pagination-previous-page,
#pagination-next-page,
#pagination-last-page{
    color:#3c37ff!important;
    fill:#3c37ff!important;
}
#pagination-first-page:hover,
#pagination-previous-page:hover,
#pagination-next-page:hover,
#pagination-last-page:hover{
    background-color:#a1a7ff!important;
}
#pagination-first-page:focus,
#pagination-previous-page:focus,
#pagination-next-page:focus,
#pagination-last-page:focus{
    background-color:transparent!important;
}

#pagination-first-page:disabled,
#pagination-previous-page:disabled,
#pagination-next-page:disabled,
#pagination-last-page:disabled{
    opacity: 0.5;
}

#pagination-first-page:disabled:hover,
#pagination-previous-page:disabled:hover,
#pagination-next-page:disabled:hover,
#pagination-last-page:disabled:hover{
    background-color:transparent!important;
}
  